<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title"></h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>


<div class="topcoat-list__container list" ng-controller="ChaptersCtrl">


      <div class="topcoat-list__container list"  ng-show="chapters.length>0">
        <h3 class="topcoat-list__header">All BNI KZN Chapters</h3>
        <p class="centerize">Number of Chapters found: {{chapters.length}}</p>
            <ul class=topcoat-list>
                <li ng-repeat="chapter in chapters" class="topcoat-list__item" ng-click="slidePage('/view3/{{chapter.id}}')">
                    <div style="width:100%;overflow:auto;">
                      <div style="width:150px;float:left;">{{chapter.chaptername}} &nbsp;</div>
                      <div style="width:200px;float:left;">{{chapter.city}} &nbsp;</div>
                      <div style="width:150px;float:left;">{{chapter.area}} &nbsp;</div>
                      <div style="width:100px;float:left;">{{chapter.meetingday}} &nbsp;</div>
                      <div style="width:100px;float:left;">{{chapter.meetingtime}} &nbsp;</div>
                    </div>
                </li>
                <li class="topcoat-list__item">
                  &nbsp;
                </li>
            </ul>
        </div>
    <div class="topcoat-navigation-bar">
        <h1 class="righterize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
    </div>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>