<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title"></h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>


<div class="topcoat-list__container list" ng-controller="MembersCtrl">
    <h3 class="topcoat-list__header">All '{{ members[0].chaptername }}' Members</h3>
    <div ng-show="members.length>0">
      <p class="centerize">{{ members[0].chaptername }}</p>
      <div class="topcoat-list__container list">
            <ul class=topcoat-list>
                <li ng-repeat="member in members" class="topcoat-list__item" ng-click="slidePage('/view4/{{member.id}}')">
                    <div style="width:90%;overflow:auto;">
                      <div style="width:150px;float:left;">{{member.name}}</div>
                      <div style="width:200px;float:left;">{{member.company}}</div>
                      <div style="width:150px;float:left;">{{member.area}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="topcoat-navigation-bar">
        <h1 class="righterize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
    </div>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>